<DOCTYPE <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8" />
        <title>Website</title>
    </head>

    <body>
        {{> header}} {{!--
        <h1>{{pageTitle}}</h1> --}} 
        
        {{!-- using registerHelper() function and passinng message as parameter down below--}}
        <p>{{getMessage message}}</p>

        {{!-- using partials for footer foe redundant/reusable code --}}
        {{> footer}} {{!--
        <footer>
            <p>{{currentyear}}</p>
        </footer> --}}
    </body>

    </html>